.container {
    background-color: #0077be;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
  }
  
  h1, p {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  ul.list-group {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  
  ul.list-group li.list-group-item {
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
  }
  
  ul.list-group li.list-group-item a {
    display: block;
    background-color: white;
    color:  #0077be;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  ul.list-group li.list-group-item a:hover {
    background-color:  #0077be;
    color: white;
    text-decoration: none;
  }